@import url("https://fonts.googleapis.com/css2?family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  user-select: none;
  font-family: "Inter";
}
body{
  margin: 0rem;
  padding: 0rem;
}
.botoes-header {
  filter: invert(100%);
  width: 1.8rem;
  margin: 0.5rem;
  cursor: pointer;
  position: absolute;
}
.botoes-header:hover {
  filter: invert(60%);
}
.botoes-header:active {
  filter: invert(30%);
}
#info {
  top: 0.5rem;
  left: 0.5rem;
}
.fechar-modal {
  width: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  filter: invert(20%);
  cursor: pointer;
}
#config {
  top: 3.5rem;
  left: 0.5rem;
}
.button {
  font-family: "Inter";
  font-weight: bold;
  font-size: medium;
  background-color: rgb(216, 219, 221);
  border: none;
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  display: block;
  margin: auto;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  width: 5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: rgb(174, 175, 176);
}
button:active {
  background-color: rgb(53, 47, 58);
  color: rgb(174, 175, 176);
}

.botoes-exercicios {
  position: absolute;
  font-size: medium;
  width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
#btn-sair-exercicio {
  right: 2rem;
  bottom: 5rem;
}
#btn-proximo-ex {
  right: 2rem;
  bottom: 2rem;
}
body {
  background-color: rgb(22, 20, 25);
  color: rgb(216, 219, 221);
  user-select: none;
}
.invisivel {
  display: none;
}
#terminal {
  width: 35rem;
  height: 11rem;
  border-radius: 0.6rem;
}
.default {
  background-color: rgb(174, 175, 176);
  border: solid 0.32rem rgb(106, 107, 108);
}
.certo {
  background-color: rgb(60, 172, 60);
  border: solid 0.32rem rgb(18, 87, 33);
}
.errado {
  background-color: rgb(185, 42, 42);
  border: solid 0.32rem rgb(87, 18, 18);
}
#div-blocos {
  background-color:  rgb(22, 20, 25,.8);
  border-radius: .3rem;
  text-align: center;
  margin: 0.4rem;
  width: 37rem;
  height: 10rem;
  padding: 0.3rem;
  position: relative;
  right: 2rem;
}
.bloco {
  color: rgb(22, 20, 25);
  font-size: medium;
  background-color: rgb(216, 219, 221);
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
  display: inline-block;
  font-weight: bold;
  transition: background-color 0.2s;
}
.bloco:hover {
  background-color: rgb(174, 175, 176);
}
#div-texto {
  width: 35rem;
  height: 3rem;
  border-radius: 0.6rem;
  margin: 0.4rem;
  padding: 0.5rem 1.5rem;
}
#desc-exercicio {
  background-color:  rgb(22, 20, 25,.8);
  border-radius: .3rem;
  font-size: small;
  text-align: center;
  position: relative;
  top: -1.2rem;
  right: 1.7rem;
  margin: 0rem;
  padding: 0rem;
}
#titulo {
  background-color:  rgb(22, 20, 25,.8);
  border-radius: .3rem;
  font-size: x-large;
  text-align: center;
  position: relative;
  right: 1.7rem;
  margin: 0rem;
  margin-bottom: 1rem;
}
#principal {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 40rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 0.4rem;
}
#div-vampiro{
  position: absolute;
  top:5rem;
  left: 9rem;
  height: 29rem;
  width: 15rem;
}
#vampiro {
  width: 40%;
  position: absolute;
  bottom: 0rem;
  left: 3rem;
}

#div-digitar {
  width: 40rem;
  height: 13em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#div-botoes {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botoes-terminal {
  width: 40%;
}
.modal{
  border-radius: 1rem;
  background-color: rgb(216, 219, 221);
  color: rgb(22, 20, 25);
  text-align: center;
  width: 18rem;
  padding: 1rem 3rem 2rem;
  border: .3rem solid  rgb(53, 47, 58);
}
.modal::backdrop {
  background-color: rgb(22, 20, 25, 0.5);
}
.modal > h1 {
  font-family: "Kranky";
}
#modal-caderno {
  width: 40%;
}
.ultimo-save{
  font-family: 'Inter';
  font-weight: bold;
  font-size: large;
}
#div-config{
  margin: auto;
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#div-botoes-modal{
  position: relative;
  left: .5rem;
  width: 7rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn-creditos{
  width: 10rem;
  margin-top: 1rem;
}
.btn-modal{
  margin-top:.5rem;
  width: 6rem;
  height: 1.5rem;
  background-color: rgb(216, 219, 221);
  color: rgb(53, 47, 58);
  border-radius: .3rem;
  border: solid .1rem  rgb(22, 20, 25);
  font-family: "Inter";
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn-modal:hover{
 background-color:  rgb(174, 175, 176);
}
.btn-modal:active{
  background-color: rgb(53, 47, 58);
  color: rgb(174, 175, 176);
}
#sair-sem-salvar{
  width: fit-content;
  background-color: rgb(185, 42, 42);
  border: solid 0.1rem rgb(87, 18, 18);
  color: rgb(198, 200, 201);;
}
#div-fala {
  background: rgb(198, 200, 201);
  border-radius: 50%;
  width: 16rem;
  height: 6rem;
  position: absolute;
  top: 4rem;
  left: 20rem;
  text-align: center;
}

#div-fala:after {
  content: "";

  width: 0;
  height: 0;

  position: absolute;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(198, 200, 201);

  bottom: -10px;
  left: 20%;
}

#fala-vampiro {
  position: relative;
  top: 0.7rem;
  left: 0.5rem;
  width: 14.5rem;
  height: 2rem;
  text-justify: auto;
  font-family: "Inter;";
  font-weight: bold;
  color: rgb(36, 36, 36);
}
.fala-menor{
  font-size: small;
}
.fala-maior{
  font-size: large;
}
.titulo {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: medium;
  font-weight: bold;
  width: 4rem;
  height: 2.5rem;
  padding: 0.3rem;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  cursor: pointer;
  z-index: 0;
}
.destaque{
  margin-top: .1rem;
  margin-bottom: .1rem;
  font-weight: bold;
  font-size: medium;
}
.destaque2{
  margin-top: .1rem;
  margin-bottom: .1rem;
  font-weight: bold;
}
.destaque3{
  display: inline-block;
  margin-top: .1rem;
  margin-bottom: .1rem;
  font-weight: bold;
}
.importante{
  color: rgb(164, 17, 17);
  margin-top: .1rem;
  margin-bottom: .1rem;
  font-weight: bold;
  font-size: .9rem;
}
.conteudo {
  text-align: left;
  position: relative;
  top: -1.5rem;
  border-radius: 0.4rem;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  height: 20rem;
  z-index: 1;
  overflow-y: scroll;
}
.invisivel {
  display: none;
}
#titulos-caderno {
  display: flex;
  justify-content: space-between;
}
.selecionado {
  background-color: rgb(177, 177, 177);
}
.sem-selecao {
  border: solid 0.1rem rgb(90, 89, 89);
  background-color: rgb(110, 110, 110);
}
#fundo{
  width:100%;
}