@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  
*{
    user-select: none;
}
body{
    background-color: rgb(22, 20, 25);
    color: rgb(216, 219, 221);
    text-align: center;
}
button{
    font-family: 'Inter';
    font-weight: bold;
    font-size: medium;
    background-color: rgb(216, 219, 221);
    border: none;
    border-radius: .4rem;
    padding: .3rem .5rem;
    display: block;
    margin: auto;
    margin-top: .8rem;
    width: 8rem;
    transition: background-color 0.2s;
    cursor: pointer;
}
#div-botoes-home{
    width: fit-content;
    margin: auto;
}
h1{
    width: 10rem;
    font-family: 'Kranky';
    font-weight:normal;
    margin: auto;
}
#div-home{
    text-align: center;
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 12rem;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
button:hover{
    background-color: rgb(174, 175, 176);
}
button:active{
    background-color: rgb(53, 47, 58);
    color: rgb(174, 175, 176);
}