@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kranky&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  
*{
    user-select: none;
}
body{
    background-color: rgb(22, 20, 25);
    color: rgb(216, 219, 221);
    user-select: none;
}
header{
    margin-bottom: 3rem;
}

<<<<<<< HEAD
#config{
    filter: invert(100%);
    width: 2rem;
    margin: .5rem;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    left: .5rem;
=======
body {
  background-color: rgb(22, 20, 25);
  color: rgb(216, 219, 221);
>>>>>>> sam
}

header {
  margin-bottom: 3rem;
}

#config {
  filter: invert(100%);
  width: 2rem;
  margin: .5rem;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

#config:hover {
  filter: invert(60%);
}

  #config:active{
    filter: invert(30%);
  }
#div-principal{
    margin-top: 30rem;
    margin:auto;
    width: 65rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.capitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: x-large;
    transition: background-color 0.2s, transform 0.2s;
    border-radius: 1rem;
    font-weight: bold;
}

.capitulo:hover{
    background-color:  rgb(174, 175, 176);
}

.capitulo:active{
    background-color:rgb(174, 128, 220);
}

.card {
    border-radius: 1rem;
    font-family: 'Kranky';
    background-color: rgb(216, 219, 221);
    font-size:large;
    font-weight: bold;
    color: rgb(22, 20, 25);
    width: 15rem;
    height: 10rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}


.card:hover {
  background-color: rgb(174, 175, 176);
}

.card:active {
  background-color: rgb(174, 128, 220);

}

.modal{
    border-radius: 1rem;
    background-color: rgb(216, 219, 221);
    color: rgb(22, 20, 25);
    text-align: center;
    width: 18rem;
    padding: 1rem 3rem 2rem;
    border: .3rem solid  rgb(53, 47, 58);
}
<<<<<<< HEAD
.modal::backdrop{
background-color: rgb(22, 20, 25,.5);
}
.modal > h1{
    font-family: 'Kranky';
}
.invisivel{
    display: none;
}
.ex{
    padding: .5rem;
    border-radius: .1rem;
    margin-bottom: .5rem;
    font-family: 'Inter';
    background-color:  rgb(53, 47, 58);
    color: rgb(216, 219, 221);
}
.ex-salvo{
    background-color: rgb(81, 53, 108);
}
.ex-salvo::after{
    content: ' 💾'
}
.ex-feito{
    background-color: rgb(47, 83, 84);
}
.ex-feito::after{
    content: ' ✅';
}
.btn-modal{
    margin-top:.5rem;
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(216, 219, 221);
    color: rgb(53, 47, 58);
    border-radius: .3rem;
    border: solid .1rem  rgb(22, 20, 25);
    font-family: "Inter";
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn-modal:hover{
   background-color:  rgb(174, 175, 176);
}
.btn-modal:active{
    background-color: rgb(53, 47, 58);
    color: rgb(174, 175, 176);
}
.fechar-modal {
    width: 1.5rem;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    filter: invert(20%);
    cursor: pointer;
}

#ultimo-save{
    font-family: 'Inter';
    font-weight: bold;
    font-size: large;
}
#div-config{
    margin: auto;
    width: 15rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#div-botoes-modal{
  position: relative;
  left: .5rem;
  width: 7rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn-creditos{
    width: 10rem;
    margin-top: 1rem;
=======

.modal::backdrop {
  background-color: rgb(22, 20, 25, .5);
}

.modal > h1 {
  font-family: 'Kranky';
}

.invisivel {
  display: none;
}


.ex {
  padding: .5rem;
  border-radius: .1rem;
  margin-bottom: .5rem;
  font-family: 'Inter';
  background-color: rgb(53, 47, 58);
  color: rgb(216, 219, 221);
}

.ex-salvo {
  background-color: rgb(81, 53, 108);

}

.ex-salvo::after {
  content: ' 💾';
}

.ex-feito {
  background-color: rgb(47, 83, 84);
}

.ex-feito::after {
  content: ' ✅';
}

.btn-modal {
  margin-top: .5rem;
  width: 6rem;
  height: 1.5rem;
  background-color: rgb(216, 219, 221);
  color: rgb(53, 47, 58);
  border-radius: .3rem;
  border: solid .1rem rgb(22, 20, 25);
  font-family: "Inter";
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-modal:hover {
  background-color: rgb(174, 175, 176);
}

.btn-modal:active {
  background-color: rgb(53, 47, 58);
  color: rgb(174, 175, 176);
}

.fechar-modal {
  width: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  filter: invert(100%);
  cursor: pointer;
}

.fechar-modal:hover {
  filter: invert(60%);
}

.fechar-modal:active {
  filter: invert(30%);
}

#musica {
  display: none;
>>>>>>> sam
}